.Label {
  font-weight: 600;
}

.Param {
  margin-bottom: 15px;
}

.BookForm {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.BookForm button {
  margin-bottom: 28px;
  margin-left: 10px
}